.related-product {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 20%;
}

.related-product h1 {
    color: #171717;
    font-size: 30px;
    font-weight: 600;
}

.related-product hr {
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background-color: #252525;
}

.related-product-item {
    width: 15%;
    margin-top: -15px;
    display: flex;
    margin-left: -80%
}