.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;

}
.footer-logo{
    display: flex;
    align-items: center;
    /* gap: 10px; */

}
.footer-logo p{
    margin-left: -70px;
    color: #383838;
    font-size: 26px;
    font-weight: 700;

}
.footer-links{
    display: flex;
    list-style: none;
    gap: 50px;
    color: #252525;
    font-size: 20px;

}
.footer-links li{
    cursor: pointer;

}
.footer-links li:hover{
    text-decoration: none;
}
.footer-social-icon{
    display: flex;
    gap: 20px;

}
.footer-icon-container{
    padding: 10px;
    padding-bottom: 2px;
    background: #fbfbfb;
    border: 1px solid #ebebeb;
}
.footer-copyrights{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
    margin-bottom: 30px;
    color: #1a1a1a;
    font-size: 20px;
}
.footer-copyrights p{
font-size: 15px;
}
hr{
    width: 80%;
    border: none;
    border-radius: 10px;
    height: 3px;
    background: #c7c7c7;
    
}
.footer-icon-container i{
   margin: 40px;
   font-size: 60px;
   cursor: pointer;
 
}
.fa-instagram{
    color: 	rgb(	225 48 108);
}
.fa-whatsapp{
    color: rgb(	7 94 84);
}
.fa-facebook{
    color: rgb(	66 103 178);
}